<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AuthorizeFilter</filter-name>
        <filter-class>khanghv.filters.AuthorizeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainControllerT</servlet-name>
        <servlet-class>khanghv.controllers.toolscontrollers.MainControllerT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControllerT</servlet-name>
        <servlet-class>khanghv.controllers.toolscontrollers.SearchControllerT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControllerT</servlet-name>
        <servlet-class>khanghv.controllers.toolscontrollers.DeleteControllerT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControllerT</servlet-name>
        <servlet-class>khanghv.controllers.toolscontrollers.EditControllerT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControllerT</servlet-name>
        <servlet-class>khanghv.controllers.toolscontrollers.UpdateControllerT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateControllerT</servlet-name>
        <servlet-class>khanghv.controllers.toolscontrollers.CreateControllerT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainControllerS</servlet-name>
        <servlet-class>khanghv.scenecontrollers.MainControllerS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControllerS</servlet-name>
        <servlet-class>khanghv.scenecontrollers.SearchControllerS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControllerS</servlet-name>
        <servlet-class>khanghv.scenecontrollers.DeleteControllerS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControllerS</servlet-name>
        <servlet-class>khanghv.scenecontrollers.EditControllerS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControllerS</servlet-name>
        <servlet-class>khanghv.scenecontrollers.UpdateControllerS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateControllerS</servlet-name>
        <servlet-class>khanghv.scenecontrollers.CreateControllerS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainControllerD</servlet-name>
        <servlet-class>khanghv.controllers.directorcontrollers.MainControllerD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControllerD</servlet-name>
        <servlet-class>khanghv.controllers.directorcontrollers.AddControllerD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendControllerD</servlet-name>
        <servlet-class>khanghv.controllers.directorcontrollers.SendControllerD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.AcceptController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControllerD</servlet-name>
        <servlet-class>khanghv.controllers.directorcontrollers.SearchControllerD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainControllerTS</servlet-name>
        <servlet-class>khanghv.toolscenecontrollers.MainControllerTS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControllerTS</servlet-name>
        <servlet-class>khanghv.toolscenecontrollers.AddControllerTS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignControllerTS</servlet-name>
        <servlet-class>khanghv.toolscenecontrollers.AssignControllerTS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.AssignController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclineController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.DeclineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeniedController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.DeniedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindControllerD</servlet-name>
        <servlet-class>khanghv.controllers.directorcontrollers.FindControllerD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookUpController</servlet-name>
        <servlet-class>khanghv.controllers.accountcontrollers.LookUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainControllerA</servlet-name>
        <servlet-class>khanghv.controllers.actorcontrollers.MainControllerA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewControllerA</servlet-name>
        <servlet-class>khanghv.controllers.actorcontrollers.ViewControllerA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveControllerA</servlet-name>
        <servlet-class>khanghv.controllers.actorcontrollers.RemoveControllerA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControllerD</servlet-name>
        <servlet-class>khanghv.controllers.directorcontrollers.DeleteControllerD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveControllerD</servlet-name>
        <servlet-class>khanghv.controllers.directorcontrollers.RemoveControllerD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadControllerA</servlet-name>
        <servlet-class>khanghv.controllers.actorcontrollers.DownloadControllerA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainControllerT</servlet-name>
        <url-pattern>/MainControllerT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControllerT</servlet-name>
        <url-pattern>/SearchControllerT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControllerT</servlet-name>
        <url-pattern>/DeleteControllerT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControllerT</servlet-name>
        <url-pattern>/EditControllerT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControllerT</servlet-name>
        <url-pattern>/UpdateControllerT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateControllerT</servlet-name>
        <url-pattern>/CreateControllerT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainControllerS</servlet-name>
        <url-pattern>/MainControllerS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControllerS</servlet-name>
        <url-pattern>/SearchControllerS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControllerS</servlet-name>
        <url-pattern>/DeleteControllerS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControllerS</servlet-name>
        <url-pattern>/EditControllerS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControllerS</servlet-name>
        <url-pattern>/UpdateControllerS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateControllerS</servlet-name>
        <url-pattern>/CreateControllerS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainControllerD</servlet-name>
        <url-pattern>/MainControllerD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControllerD</servlet-name>
        <url-pattern>/AddControllerD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendControllerD</servlet-name>
        <url-pattern>/SendControllerD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptController</servlet-name>
        <url-pattern>/AcceptController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControllerD</servlet-name>
        <url-pattern>/SearchControllerD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainControllerTS</servlet-name>
        <url-pattern>/MainControllerTS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControllerTS</servlet-name>
        <url-pattern>/AddControllerTS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignControllerTS</servlet-name>
        <url-pattern>/AssignControllerTS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignController</servlet-name>
        <url-pattern>/AssignController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclineController</servlet-name>
        <url-pattern>/DeclineController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeniedController</servlet-name>
        <url-pattern>/DeniedController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindControllerD</servlet-name>
        <url-pattern>/FindControllerD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookUpController</servlet-name>
        <url-pattern>/LookUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainControllerA</servlet-name>
        <url-pattern>/MainControllerA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewControllerA</servlet-name>
        <url-pattern>/ViewControllerA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveControllerA</servlet-name>
        <url-pattern>/RemoveControllerA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControllerD</servlet-name>
        <url-pattern>/DeleteControllerD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveControllerD</servlet-name>
        <url-pattern>/RemoveControllerD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadControllerA</servlet-name>
        <url-pattern>/DownloadControllerA</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            0
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
